<div class="border-b-4 border-solid border-neutral-700 w-fit pb-2 pr-10 mb-8">
    <a id="contact" class="block relative -top-24"></a>
    <h2 class="font-bold text-3xl">Kontakt</h2>
</div>
<form class="p-6 md:w-3/4 md:m-auto md:p-12 border border-gray-200 rounded-lg shadow" accept-charset="UTF-8" onsubmit="onFormSubmit(event)">
    <h2 class="text-lg"><strong>Danke</strong> für die Aufmerksamkeit!</h2>
    <p class="text-sm mb-6 text-neutral-400">Wenn ich dich überzeugen konnte, melde dich gerne bei mir über das Kontaktformular!</p>
    <div class="md:grid grid-rows-2 grid-cols-2 gap-x-10">
        <div class="mt-10 md:mt-5 relative">
            <input id="name" type="text" name="name" class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-green-500" placeholder="name" />
            <label for="name" class="absolute left-0 -top-3.5 text-gray-500 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Name</label>
        </div>
        <div class="mt-10 md:mt-5 relative">
            <input id="email" type="text" name="email" class="peer h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-green-500" placeholder="email" />
            <label for="email" class="absolute left-0 -top-3.5 text-gray-500 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email</label>
        </div>
        <div class="mt-10 md:mt-0 relative col-span-2">
            <textarea id="nachricht" type="text" name="nachricht" class="peer h-fit min-h-[8rem] w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-green-500" placeholder="nachricht"></textarea>
            <label for="nachricht" class="absolute left-0 -top-3.5 text-gray-500 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Nachricht</label>
        </div>
    </div>
    <button class="md:text-base text-slate-50 mt-4 mr-4 py-2 px-4 rounded-lg bg-neutral-700 border-solid border-2 border-neutral-700" type="submit">Absenden</button>
    <p id="successMessage" class="mt-6 hidden">Danke für deine Nachricht. Ich melde mich bald zurück.<p></p>
</form>
