<div class="flex justify-center py-8 max-md:flex-wrap md:py-20">
    <div class="max-md:order-2 md:basis-3/5 my-8">
        <h1 class="text-5xl md:text-7xl font-bold mb-4">Hallo, ich bin<br> <span class="bg-clip-text text-transparent bg-gradient-to-bl from-green-300 to-green-500">Felix Lütte</span></h1>
        <p class="md:text-lg text-neutral-500 mb-3">Ich bin ein neugieriger <strong>Webentwickler</strong> mit einem Hintergrund in <strong>Online-Medien</strong>. Seit meiner Jugend beschäftige ich mich mit verschiedensten Webtechnologien und programmiere selbst.</p>
        <p class="md:text-lg text-neutral-500">Nach meinem kürzlich abgeschlossenen Studium im Bereich Online-Medien suche ich nun nach einer neuen Herausforderung.</p>
        <div>
            <a href="#contact"><button class="md:text-base text-slate-50 mt-4 mr-4 py-2 px-4 rounded-lg bg-neutral-700 border-solid border-2 border-neutral-700">Kontaktiere mich</button></a>
        </div>
    </div>
    <div class="relative m-6 max-md:order-1 max-md:w-3/5 md:m-10 md:basis-2/5">
        <div class="absolute w-2/3 h-2/3 top-5 left-5 md:top-16 md:left-16 blur-3xl md:w-full md:h-full md:max-lg:h-1/2 bg-gradient-to-tr from-green-300 to-green-500 rounded-3xl backdrop-blur-3xl">
        </div>
        <img class="relative rounded-lg md:absolute md:top-0 md:w-full" src="./src/img/felix_portrait_quadrat.JPG" alt="Potrait of Felix Lütte">
    </div>

</div>