<div class="mb-12">
    <a id="projects" class="block relative -top-24"></a>
    <div class="border-b-4 border-solid border-neutral-700 w-fit pb-2 pr-10 mb-8">
        <h2 class="font-bold text-3xl">Projekte</h2>
    </div>
    <div class="flex flex-wrap gap-5">
        {{ range .Site.Data.homepage.projects }}
            <div class="w-[320px] flex flex-col max-w-sm bg-white border border-gray-200 rounded-lg shadow">
                <div>
                    <a href="{{ .link }}" target="_blank">
                        <img class="rounded-t-lg h-320" src="./src/img/{{ .cover}}" alt="" />
                    </a>
                </div>
                <div class="flex flex-col p-5 grow">
                    <a href="{{ .link }}" target="_blank">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-neutral-700 md:min-h-[3em]">{{ .titel }}</h5>
                    </a>
                    <div class="flex flex-wrap gap-2 mb-2">
                        {{ range .tags }}
                            <div class="px-2 py-1 bg-{{ .color }}-400 w-fit h-fit rounded-xl mr-2">
                                <p class="text-sm font-semibold text-{{ .color }}-100/90">{{ .name }}</p>
                            </div>
                        {{ end }}
                    </div>
                    <div class="flex flex-col place-content-between grow">
                        <p class="mb-2 font-normal text-gray-700">{{ .description }}</p>
                        <a href="{{ .link }}" target="_blank" class="inline-flex items-center font-medium text-center nav-hover w-fit">
                            Details
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
    {{ end }}
    </div>
</div>

