<div class="border-b-4 border-solid border-neutral-700 w-fit pb-2 pr-10 mb-8">
    <h2 class="font-bold text-3xl">Projekte</h2>
</div>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <a href="https://flexilue.github.io/Fishermans-friend-landingpage/" target="_blank">
        <img class="rounded-t-lg" src="./src/img/fishermans_friend_cover_4zu3.png" alt="" />
    </a>
    <div class="p-5">
        <a href="https://flexilue.github.io/Fishermans-friend-landingpage/" target="_blank">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-neutral-700 ">Fisherman's Friend Branding</h5>
        </a>
        <div class="flex mb-2">
            <div class="px-2 py-1 bg-orange-400 w-fit h-fit rounded-xl mr-2">
                <p class="text-sm font-semibold text-orange-100/90">HTML</p>
            </div>
            <div class="px-2 py-1 bg-pink-400 w-fit h-fit rounded-xl mr-2">
                <p class="text-sm font-semibold text-pink-100/90">SCSS</p>
            </div>
            <div class="px-2 py-1 bg-yellow-400 w-fit h-fit rounded-xl mr-2">
                <p class="text-sm font-semibold text-yellow-100/90">Javascript</p>
            </div>
        </div>
        <p class="mb-2 font-normal text-gray-700">Deodorant wurde in den Markenkontext von Fisherman's Friend eingebunden. Dazu wurde eine Landingpage gebaut.</p>
        <a href="https://flexilue.github.io/Fishermans-friend-landingpage/" target="_blank" class="inline-flex items-center font-medium text-center nav-hover">
            Read more
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>
